<header class="site-header" role="banner" id='header-bar'>
    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <nav class="site-nav header-flex-container">
            <a class="page-link" href="{{ '/archive.html' | relative_url }}">&#x231b; Archive</a>
            <a class="page-link" href="{{ '/about.html' | relative_url }}">&#x2753; About</a>
            <div class="theme-switch">
                <input type="checkbox" onclick="toggleDarkMode()" id="switch" name="theme" />
                <label for="switch" class="slider round"></label>
            </div>
        </nav>
    </div>
</header>
